@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
body{
    background-color: #f0ffff;
}
::selection{
    color: #ffffff;
    background-color: #f0ffff;
}
.start-btn, .container, .quiz-box, .results-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.3), 0 5px 20px 0 rgba(0,0,0,0.2);
}
.container.activeInfo, .quiz-box.activeQuiz, .results-box.activeResult {
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.start-btn button{ 
    font-size: 20px;
    font-weight: 700;
    color: #007bff;
    padding: 15px 25px;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: #ffffff;
    cursor: pointer;
}
.container{
    width: 600px;
    background: #ffffff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.container, .test-rules{
    height: 80px;
    width: 100%;
    border-bottom: 2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 700;
}
.container .rules-list{
    padding: 15px 30px;
}
.container rules-list .rules{
    margin: 5px 0;
    font-size: 18px;
}
.container, .rules-list, .rules span{
    font-weight: 700;
    color: #007bff;
}
.container, .buttons button{
    margin: 0 5px;
    height: 40px;
    width: fit-content;
    padding: auto;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    border: 2px solid #007bff;
    transition: all 0.5s ease;
}
.quiz-box{
    width: 600px;
    background: #ffffff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.quiz-box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 28px;
    background: #ffffff;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.1);
}
.quiz-box, header, .title{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;
}
.quiz-box, header, .timer{
    color: #004085;
    background-color: #cce5ff;
    border: 1px solid #b8daff;
    height: 50px;
    padding: 0 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}
.quiz-box, header, .timer, .time-left-txt{
    font-size: 500;
    font-size: 16px;
    user-select: none;
}
.quiz-box, header, .timer, .timer-sec{
    font-size: 16px;
    font-weight: 500;
    height: 28px;
    width: 50px;
    color: #ffffff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background-color: #343a42;
    user-select: none;
}
.quiz-box, header, .time-line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 4px;
    background-color: #007bff;
}
section{
    padding: 25px 30px 20px 30px;
    background-color: #ffffff;
}
section, .quiz-text{
    font-size: 24px;
    font-weight: 500;
}
section, .option-list{
    padding: 20px 0px;
    display: block;
}
section .option-list .option{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition:  all 0.5s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section .option-list .option:last-child{
    margin-bottom: 0px;
}
section .option-list .option:hover{
    color: #004085;
    background-color: #cce8ff;
    border: 1px solid #b8daff;
}
section .option-list .option.correct{
    color: #00ff00;
    background-color: #f8d7da;
    border: 2px solid #f6c6cb;
}
section .option-list .option.incorrect{
    color:#721c25;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}
section .option-list .option.disabled{
    pointer-events: none;
}
section .option-list .option .icon{
    height: 28px;
    width: 28px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    pointer-events: none;
    transition: all 0.4s ease;
    line-height: 25px;
}
.option-list .option .icon.tick{
    color: #24903c;
    border-color: #24903c;
    background-color: #d4edda;
}
.option-list .option .icon.cross{
    color: #a43835;
    background-color: #f8d7da;
    border-color: #a43835;
}
footer{
    height: 60px;
    padding: 0 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightgray;
}
footer .total-questions span p{
    font-weight: 500;
    padding: 0 5px;
}
footer .total-questions span p:first-child{
    padding: 0px;
}
footer button{
    height: 40px;
    padding: 0 15px;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    border-radius: 5px;
    background-color: #007bff;
    border: 1px solid #007bff;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}
footer button:hover{
    color: #004085;
}
footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}